# To change the color of the text in checkboxes
public-f net.minecraft.client.gui.components.Checkbox textWidget
public net.minecraft.client.gui.components.Checkbox selected

# For Screen size
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
